<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="reviewBox" *ngIf="!isPayment">
    <div class="envioBox">
      <p>Origen: {{origen}}</p>
      <p>Destino: {{destino}}</p>
    </div>
    <div class="montosBox">
      <p>Costo de la carrera: {{montoCarrera}}</p>
      <p>Total: {{montoTotal}}</p>
    </div>
    <div class="buttonBox">
      <button (click)="pagar()">
        Proceder con el pago
      </button>
    </div>
  </div>

  <app-payment-gateway (paymentComplete)="finishCheckout($event)" style="width: 100%; height: 100%;"
    [amount]="montoTotal" *ngIf="isPayment">
  </app-payment-gateway>


</ion-content>