<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="typesBox">
    <button class="typeButton" [ngClass]="pendingButton" (click)="actualizarPedidos($event, 'pending')">Pedidos
      pendientes</button>
    <button class="typeButton" [ngClass]="acceptedButton" (click)="actualizarPedidos($event, 'accepted')">Pedidos
      aceptados</button>
    <button class="typeButton" [ngClass]="rejectedButton" (click)="actualizarPedidos($event, 'rejected')">Pedidos
      rechazados</button>

  </div>
  <app-pedidos-list (actualizar)="actualizarPedidos($event, 'pending')" *ngIf="showPedidos"
    [isAceptar]="isAceptar" [pedidos]="pedidos">
  </app-pedidos-list>
</ion-content>