<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="typesBox">
    <button class="typeButton" [ngClass]="pendingButton" (click)="actualizarCarreras($event, 'pending')">Carreras
      pendientes</button>
    <button class="typeButton" [ngClass]="acceptedButton" (click)="actualizarCarreras($event, 'accepted')">Carreras
      aceptadas</button>
    <button class="typeButton" [ngClass]="rejectedButton" (click)="actualizarCarreras($event, 'rejected')">Carreras
      rechazadas</button>

  </div>
  <app-carreras-list (actualizar)="actualizarCarreras($event, 'pending')" *ngIf="showCarreras" [isAceptar]="isAceptar"
    [carreras]="carreras">
  </app-carreras-list>
</ion-content>