<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="selectionBox">
    <div class="optionsBox">
      <p><b>Elige alguno de nuestros servicios</b></p>
      <div class="iconsBox">
        <div class="iconBox">
          <img class="iconImg" [src]="taxiImg" alt="Logo" (click)="firstToggle($event, 'taxi')" />
        </div>
        <div class="iconBox">
          <img class="iconImg" [src]="eatsImg" alt="Logo" (click)="firstToggle($event, 'eats')" />
        </div>
      </div>
    </div>
  </div>
</ion-content>