<div id="pedidoCards" class="bigBox" *ngIf="pedidosLength">
  <div class="cardBox" *ngFor="let pedido of pedidos">
    <div class="infoBox">
      <p>Origen: <br>{{pedido.origin.vicinity}}</p><br>
      <p>Destino: <br>{{pedido.destination.vicinity}}</p><br>
      <p>Distancia del pedido: {{pedido.distance}}</p><br>
      <p>Productos: <br>
        <span style="margin-left: 15px;" *ngFor="let item of pedido.carrito.productos">
          Producto: {{item.producto.name}}, Cantidad: {{item.qty}}
        </span><br>
      </p><br>
      <p>Monto Total: S/ {{pedido.carrito.montoTotal}}</p><br>
      <p>Costo de envío: S/ {{pedido.fee}}</p><br>
      <p>Status del pedido: {{pedido.restaurantStatus}}</p><br>
      <p>Status de la carrera: {{pedido.driverStatus}}</p><br>
      <p>Status del pago: {{pedido.paymentStatus}}</p>

    </div>
    <div class="moreBox" *ngIf="isPago">
      <button type="button" (click)="pagar($event, pedido)">
        <p>Pagar</p>
      </button>
    </div>
  </div>
</div>
<div id="noFound" class="bigBox" *ngIf="!pedidosLength">
  <div class="cardBox">
    <p class="noFoundText">No hay pedidos para mostrar</p>
  </div>
</div>