<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="typesBox">
    <button class="typeButton" [ngClass]="pendingButton" (click)="toggleCarreras($event, 'pending')">Carreras
      pendientes</button>
    <button class="typeButton" [ngClass]="acceptedButton" (click)="toggleCarreras($event, 'accepted')">Carreras
      aceptadas</button>
    <button class="typeButton" [ngClass]="rejectedButton" (click)="toggleCarreras($event, 'rejected')">Carreras
      rechazadas</button>

  </div>
  <app-carreras-list *ngIf="showCarreras" [isPago]="isPago" (makePago)="goToPayment($event)" [carreras]="carreras"
    (volver)="showSelection()">
  </app-carreras-list>
</ion-content>